<script>
import {addMarkerToMap, createMap, removesAllMarkersToMap} from '../utils/map.js';
import {useGeographic} from 'ol/proj.js';

import 'ol/ol.css';

// In order to easily use LonLat coordinates
useGeographic();

export default {
    props: {
        markers: {
            type: Array,
            default: []
        }
    },
    watch: {
        markers() {
            // Refresh markers on map if "markers" prop changes
            this.addMarkers();
        }
    },
    methods: {
        addMarkers() {
            // Clears all existing markers
            removesAllMarkersToMap(this.map);

            // Add markers according to "markers" prop
            for (const marker of this.markers) {
                addMarkerToMap(this.map, marker.position, marker?.highlight);    
            }
        },
    },
    mounted() {
        this.map = createMap([4.388297295036117, 45.43849139049805]);
        this.addMarkers();
    }
    
}
</script>

<style>
#map {
    height: 300px;
    width: 100%;
}
</style>

<template>
    <div id="map">
    </div>
</template>

