upstream nodejs {
    server localhost:8080;
}

server {
  listen 80;
  listen [::]:80;
  server_name {{ domain }};
  root /var/www/{{ domain }};
  location / {
    try_files $uri $uri/ =404;
  }
}

server {

    listen 80;
    listen [::]:80; 
    server_name {{ api_domain }};

    location / {
        proxy_pass http://nodejs;
    }

}