<script>
import { getProperty, createProperty, updateProperty } from '@/utils/api/properties';
import SelectAddress from "@/components/address/Select.vue";
export default {
    components: {
        SelectAddress
    },
    props: {
        id: {
            type: Number,
            default: null
        }
    },
    data: () => ({
        property: {
            id: null,
            occupant_name: '',
            occupant_phone: '',
            occupant_email: '',
            extra: {
                stoppub: false
            },
            address_id: null,
        }
    }),
    methods: {
        /**
         * Load data if a property id given.
         */
        async getData() {
            if (this.id !== null) {
                this.property = await getProperty(this.id);
            }
        },

        /**
         * On form submission.
         */
        async submit() {
            const { valid } = await this.$refs.form.validate()

            if (valid) {
                if (this.property.id === null) {
                    try {
                        this.property = await createProperty(this.property);
                    } catch (error) {
                        console.log("Erreur lors de la création du bien");
                    }
                }
                else {
                    try {
                        this.property = await updateProperty(this.property);
                    } catch (error) {
                        console.log("Erreur lors de la mise à jour du bien");
                        console.error(error);
                    }
                }
                this.$router.push('/properties');
            }
        }
    },
    /**
     * Executed after component creation.
     */
    async created() {
        await this.getData();
    },
}
</script>

<template>
    <div>

        <v-form ref="form" @submit.prevent="submit">
            <v-container>
                <v-row>
                    <v-col cols="12" md="4">
                        <v-text-field v-model="property.occupant_name" label="Nom de l'occupant"
                            :rules="[v => !!v || 'Le nom est obligatoire']" required class="occupant-name-input"></v-text-field>
                    </v-col>

                    <v-col cols="12" md="4">
                        <v-text-field v-model="property.occupant_phone" label="Téléphone de l'occupant"></v-text-field>
                    </v-col>

                    <v-col cols="12" md="4">
                        <v-text-field v-model="property.occupant_email" label="E-mail de l'occupant"></v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" md="6" class="mb-5">
                        <v-expansion-panels>
                            <v-expansion-panel>
                                <v-expansion-panel-title>
                                    Infos supplémentaires
                                </v-expansion-panel-title>
                                <v-expansion-panel-text>
                                    <v-checkbox label="Stop-pub" v-model="property.extra.stoppub"></v-checkbox>
                                </v-expansion-panel-text>
                            </v-expansion-panel>
                        </v-expansion-panels>
                    </v-col>

                    <v-col cols="12" md="6" class="mb-5">
                        <SelectAddress v-model="property.address_id" :rules="[v => !!v || `L'adresse est obligatoire`]" />
                    </v-col>
                </v-row>

                <v-row>
 

                </v-row>

                <v-row>
                    <v-col cols="12">

                        <v-btn type="submit">
                            Valider
                        </v-btn>
                    </v-col>

                </v-row>


            </v-container>
        </v-form>


    </div>
</template>