<script>
import { getProperties } from '@/utils/api/properties.js';
export default {
    data() {
        return {
            searchLoading: false,
            searchItems: [],
            search: null,
            selectProperty: null,
            travelProperties: [],
        }
    },
    watch: {
        /**
         * Called when search input value changes.
         * 
         * @param {String} val 
         */
        search(val) {
            val && val !== this.selectProperty && this.querySelections(val);
        },

        /**
         * Called when a property is selected.
         * 
         * @param {String} val 
         */
        selectProperty(val) {
            const item = this.searchItems.find(e => {
                return e.id === val
            });
            this.$emit('selected', item);
        },
    },
    methods: {
        async querySelections(value) {
            this.searchLoading = true;
            try {
                const propertiesFromApi = await getProperties(0, 100);
                this.searchItems = propertiesFromApi.filter(e => {
                    // TODO : perform filter on back, because, else it will implode 
                    return e.address.address.toLowerCase().indexOf((value || '').toLowerCase()) > -1;
                });

                this.searchItems.map(property => {
                    property.title = `${property.occupant_name} ${property.address.address}`;
                });

            this.searchLoading = false
            } catch (error) {
                console.error(error);
            }
          
        },
    },
};
</script>

<template>

    <v-autocomplete v-model="selectProperty" v-model:search="search" :loading="searchLoading" 
        :items="searchItems" item-title="title" item-value="id"
        class="mx-4" density="comfortable" hide-no-data hide-details label="Entrez l'adresse du bien"
        style="max-width: 300px;"></v-autocomplete>

</template>