<script>
import { getProperties, deleteProperty } from '@/utils/api/properties';

export default {
    data: () => ({
        properties: [],
    }),
    methods: {
        async getData() {
            try {
                this.properties = await getProperties(0, 100);
            } catch (error) {
                console.log(error);
            }
        },
        async deletePropertyEvent(property) {
            await deleteProperty(property.id);
            this.getData();
        },
    },

    created() {
        this.getData();
    },
}
</script>

<template>
    <div>
        <v-table class="properties-list">
            <thead>
                <tr>
                    <th class="text-left">
                        Occupant
                    </th>
                    <th class="text-left">
                        Adresse
                    </th>
                    <th class="text-left">
                        
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="property in properties" :key="property.address.address">
                    <td>{{ property.occupant_name}} </td>

                    <td>{{ property.address.address}} {{ property.address.zipcode}} {{ property.address.city}}</td>
                    <td>
                        <router-link :to="`/property/${property.id}`"><v-icon icon="mdi-pencil"></v-icon></router-link>
                        <v-icon icon="mdi-delete" @click="deletePropertyEvent(property)"></v-icon>
                    </td>
                </tr>
            </tbody>
        </v-table>

    </div>
</template>