<script>
export default {
    data: () => ({
        drawer: null,
        properties: [
            { text: 'Liste', icon: 'mdi-view-list', link: '/properties' },
            { text: 'Créer un bien', icon: 'mdi-pencil', link: '/property' },
        ],
    }),
}
</script>


<template>
    <div>
        <v-navigation-drawer v-model="drawer">

            <v-list density="compact" nav>
                <v-list-subheader>Menu</v-list-subheader>

                <v-list-item to="/travel" active-color="primary">
                    <template v-slot:prepend>
                        <v-icon icon="mdi-map"></v-icon>
                    </template>

                    <v-list-item-title>Itinéraire</v-list-item-title>
                </v-list-item>

                <v-list-group value="Biens">
                    <template v-slot:activator="{ props }">
                        <v-list-item v-bind="props" prepend-icon="mdi-home" title="Biens"></v-list-item>
                    </template>

                    <v-list-item v-for="({text, icon, link}, i) in properties" :key="i" :value="text" :title="text" :to="link"
                        :prepend-icon="icon"></v-list-item>
                </v-list-group>
            </v-list>

        </v-navigation-drawer>

        <v-app-bar>
            <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

            <v-toolbar-title>Prospector 3000</v-toolbar-title>
        </v-app-bar>
    </div>
</template>

