<script>
import { getAddresses, getAddress } from '@/utils/api/addresses.js';
export default {
    props: ['modelValue'],
    emits: ['update:modelValue'],
    data() {
        return {
            searchLoading: false,
            searchItems: [],
            search: null,
            selectAddress: null,
        }
    },
    watch: {
        /**
         * Called when search input value changes.
         * 
         * @param {String} val 
         */
        search(val) {
            val && val !== this.selectAddress && this.querySelections(val);
        },

        /**
         * Called when an address is selected.
         * 
         * @param {String} val 
         */
        selectAddress(val) {
            console.log("test");
            const item = this.searchItems.find(e => {
                return parseInt(e.id, 10) === parseInt(val, 10)
            });
            this.$emit('update:modelValue', item.id);
        },

        async modelValue(val) {
            console.log('tt');
            if (this.modelValue != null) {
                // get address
                const address = await getAddress(this.modelValue);
                address.title = `${address.address} ${address.zipcode} ${address.city}`;
                this.searchItems = [address];
                this.selectAddress = this.modelValue;

            }
        }
    },
    methods: {
        async querySelections(value) {
            this.searchLoading = true;
            try {
                const addressesFromApi = await getAddresses(0, 100);
                this.searchItems = addressesFromApi.filter(e => {
                    // TODO : perform filter on back, because, else it will implode 
                    return e.address.toLowerCase().indexOf((value || '').toLowerCase()) > -1;
                });

                this.searchItems.map(address => {
                    address.title = `${address.address} ${address.zipcode} ${address.city}`;
                });

                this.searchLoading = false
            } catch (error) {
                console.error(error);
            }

        },
    },
    async created() {
        console.log(this.modelValue);

    },
};
</script>

<template>
    <v-autocomplete v-model="selectAddress" v-model:search="search" :loading="searchLoading" :items="searchItems"
        item-title="title" item-value="id" class="address-autocomplete-input" density="comfortable" hide-no-data hide-details
        label="Rechercher une addresse" required :rules="[v => !!v || `L'adresse est obligatoire`]"
        style="max-width: 300px;"></v-autocomplete>
</template>