<script>
import Map from '@/components/Map.vue';
import PropertiesAutocompleteSearch from '../properties/PropertiesAutocompleteSearch.vue';
import { getOrderedAddressesByOptimizedTravel } from "../../utils/api/travel.js";

export default {
    components: {
        Map,
        PropertiesAutocompleteSearch
    },
    data() {
        return {
            travelProperties: [],
            uniqueAddresses: []
        }
    },

    methods: {
        /**
         * Call this function to add a property from the travel selection.
         * 
         * @param {String} val 
         */
        addPropertyToList(item) {

            if (this.travelProperties.find(property => property.id === item.id)) {
                return;
            }
            this.travelProperties = [...this.travelProperties, item];
            this.setUniqueAddresses();
            this.savePropertyList();
        },

        /**
         * Call this function to remove a property from the travel selection.
         * @param {object} item 
         */
        removePropertyFromList(item) {
            const foundIndex = this.travelProperties.findIndex((element) => {
                return element.id === item.id;
            });
            console.log(foundIndex);
            this.travelProperties.splice(foundIndex, 1);
            this.travelProperties = [...this.travelProperties];
            this.setUniqueAddresses();
            this.savePropertyList();
        },

        /**
         * Reorder properties in order to optimize travel between them.
         */
        async orderPropertiesByOptimizedTravel() {

            this.setUniqueAddresses();
            const addressesIds = this.uniqueAddresses.map(address => address.id);

            const orderedAddresses = await getOrderedAddressesByOptimizedTravel(addressesIds);

            const newPropertyList = [];

            for (const address of orderedAddresses) {
                const addressProperties = this.travelProperties.filter(property => {
                    return property.address.id === address.id;
                });

                for (const property of addressProperties) {
                    newPropertyList.push(property);
                }

            }

            this.travelProperties = [...newPropertyList];
            this.setUniqueAddresses();
            this.savePropertyList();
        },

        /**
         * Get all addresses in selected properties.
         */
        setUniqueAddresses() {

            const uniqueAddresses = [];

            for (const property of this.travelProperties) {
                if (!uniqueAddresses.find(address => address.id === property.address.id)) {
                    uniqueAddresses.push(property.address);
                }
            }
            this.uniqueAddresses = [...uniqueAddresses];
        },

        toggleHighlightProperty(propertyToHighlight) {
            propertyToHighlight.highlight = !propertyToHighlight?.highlight;
            this.resetHighlightMarker(propertyToHighlight.address.id);

            this.travelProperties.forEach(property => {
                if (propertyToHighlight.id !== property.id) {
                    property.highlight = false;
                }
            });

            if (propertyToHighlight.highlight) {
                this.highlightMarker(propertyToHighlight.address.id)
            }
            this.travelProperties = [...this.travelProperties];


        },
        /**
         * Highlight marker with giver address id.
         * 
         * @param {Number} id 
         */
        highlightMarker(id) {
            this.uniqueAddresses.forEach(address => address.highlight = false);
            const address = this.uniqueAddresses.find(address => address.id === id);
            address.highlight = true;
            this.uniqueAddresses = [...this.uniqueAddresses];
        },

        /**
         * De-highlight all markers.
         */
        resetHighlightMarker() {
            this.uniqueAddresses.forEach(address => address.highlight = false);
            this.uniqueAddresses = [...this.uniqueAddresses];
        },

        /**
         * Save property list to local storage
         */
        savePropertyList() {
            localStorage.setItem('travelList', JSON.stringify(this.travelProperties));
        }
    },
    mounted() {
        const travelProperties = localStorage.getItem('travelList');
        if (travelProperties !== null) {
            this.travelProperties = JSON.parse(travelProperties);
            this.setUniqueAddresses();
        }

    }
};
</script>

<template>
    <v-row no-gutters>
        <v-col cols="12" md="6">
            <v-sheet class="ma-2 pa-2">
                <Map :markers="uniqueAddresses" />
            </v-sheet>
        </v-col>
        <v-col>
            <v-sheet class="ma-2 pa-2">
                <v-toolbar>
                    <v-toolbar-title class="d-none d-sm-block">Ajouter un bien à l'itinéraire</v-toolbar-title>
                    <PropertiesAutocompleteSearch @selected="addPropertyToList" />
                </v-toolbar>
            </v-sheet>
            <v-sheet class="ma-2 pa-2">
                <v-table class="travel-properties-list">
                    <thead>
                        <tr>
                            <th class="text-left">
                                id
                            </th>
                            <th class="text-left">
                                Occupant
                            </th>
                            <th class="text-left">
                                Adresse
                            </th>
                            <th class="actions">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in travelProperties" :key="item.id" @click="toggleHighlightProperty(item)"
                            :class="{ highlight: item?.highlight }">
                            <td>{{ item.id }}</td>
                            <td>{{ item.occupant_name }}</td>
                            <td>{{ item.address.address }} {{ item.address.zipcode }} {{ item.address.city }}</td>
                            <td><v-icon icon="mdi-delete" @click.stop="removePropertyFromList(item)"></v-icon></td>
                        </tr>
                    </tbody>
                </v-table>
                <v-btn @click="orderPropertiesByOptimizedTravel()">
                    Optimiser le trajet
                </v-btn>
            </v-sheet>

        </v-col>
    </v-row>
</template>

<style scoped>
.travel-properties-list .actions {
    width: 25px;
}

.travel-properties-list tr.highlight {
    background-color: #eee;
}
</style>