<script setup>
import PropertyForm from '../components/properties/Form.vue'
</script>

<template>
  <div>
    <v-container>
      <h1>
        Modifier le bien
      </h1>
    </v-container>
    <PropertyForm :id="parseInt($route.params.id, 10)" />
  </div>
</template>
