<script setup>
import PropertyForm from '../components/properties/Form.vue'
</script>

<template>
  <div>
    <v-container>
      <h1>
        Ajouter un bien
      </h1>
    </v-container>
    <PropertyForm />
  </div>
</template>
